# Ignore MP4 files
*.mp4

# Ignore TXT files
*.txt

# Ignore out folder
out/

# Ignore .vscode folder
.vscode/

# Ignore all .pyc files
**/*.pyc

# Ignore all __pycache__ directories
**/__pycache__/


